<div id="form-content" style="background-color:#<%= @form.colour %>;">
  <h1><%= @form.name %></h1>
  <%= description_box @form.description %>
  <% form_for :testable, @testable, :url => { :action => "create" }, :id => "foo" do |f| %>
    <%= hidden_field_tag "form", YAML::dump(@form) %>
    <%= f.hidden_field :datatype, :value => @testable.datatype %>
    <fieldset>
      <legend>Basic information</legend>
      <dl>
        <dt><%= f.label :patient_id_rn, "Patient RN" %>
        <dd>
          <% f.fields_for :patient_id do |patient| %>
            <%= patient.text_field :rn, :autocomplete => "off", :value => @testable.patient.nil? ? '' : @testable.patient.rn %>
	    <%= observe_field "testable_patient_id_rn",
	        :function => "new Ajax.Updater('patient-info',
		                               '/manage/patients/rn/' + value,
					       {
					         onCreate: function () { $('patient-loading').setStyle({visibility:'visible'}); },
						 onComplete: function () { $('patient-loading').setStyle({visibility:'hidden'}); }
					       });",
		:on => "blur" %>
	    <div class="auto_complete" id="testable_patient_id_rn_auto_complete"></div>
	    <div id="patient-content">
	      <div id="patient-info">
		<strong>Patient Details</strong>
		<span id="patient-loading" class="loading"></span>
		<br/>
		<p>
		Enter the patient's RN to retrieve details
		</p>
	      </div>
	      <div class="smalldescription">
		Can't find the right patient?
		<%= link_to "Create the patient",
		{:controller => '/manage/patients',
		:action => 'new'},
		{:popup => true} %>
	      </div>
	    </div>
	    <script type="text/javascript">
	      <% if not @testable.patient.nil? %>
                     new Ajax.Updater('patient-info',
		                      '/manage/patients/rn/' + <%= @testable.patient.rn %>,
				      {
					  onCreate: function () { $('patient-loading').setStyle({visibility:'visible'}); },
					  onComplete: function () { $('patient-loading').setStyle({visibility:'hidden'}); }
				      });
              <% end %>
	      new Ajax.Autocompleter('testable_patient_id_rn',
				     'testable_patient_id_rn_auto_complete',
				     '/entry/testables/auto_complete_for_patient_rn/1', {
					 method:'get',
					 paramName:'pid',
					 minChars: 1,
					 afterUpdateElement: function (obj) {
					     new Ajax.Updater('patient-info',
							      '/manage/patients/rn/' + obj.value,
							      {
								  onCreate: function () { $("patient-loading").setStyle({visibility:'visible'}); },
								  onComplete: function () { $("patient-loading").setStyle({visibility:'hidden'}); }
							      });
					     new Ajax.Request('/entry/testables/similar/' + obj.value);
					 }});
	    </script>

	  <% end %>
	</dd>
	<%= belongs_widget f, :department_id, Department.all %>
	<%= belongs_widget f, :source_id, Source.all %>
	<%= belongs_widget f, :staff_id, Staff.all %>
	<%= time_widget f, :time_in %>
	<%= time_widget f, :time_out %>
      </dl>
    </fieldset>
    <div class="fieldset">
      <legend>Test data</legend>
      <!-- Begin template-specific fields -->
      <%= render :partial => "form_groups",
                 :locals => {:groups => @form.groups, :form => f, :subtest => false } %>
    </div>
    <!-- subtests here -->
    <% @form.subtests.each_with_index do |subtest, index| %>
      <% f.fields_for :subtests, @testable do |subtest_form| %>
        <div class="fieldset" style="background-color:#<%= subtest.colour %>">
	  <%= content_tag(:legend,
	                  "Subtest: #{subtest.name}",
			  { :onclick => "toggleForm(#{subtest.id}, #{index});",
	                    :id => "subtest-legend-#{subtest.id}",
			    :class => "disabled subtest"}) %>
	  <div id="subtest-description-<%= subtest.id %>" class="smalldescription">
	    This form is <span class="disabled">disabled</span>.
	    <%= link_to "Enable",{},
	                {:href => "#",
			 :onclick => "toggleForm(#{subtest.id}, #{index});return false;"} %>
	  </div>
	  <%= subtest_form.hidden_field :saveme, :value => @testable.subtests[index].saveme || "false" %>
	  <%= subtest_form.hidden_field :datatype, :value => subtest.className %>
	  <div id="subtest-<%= subtest.id %>" style="display:none;">
	    <%= render :partial => "form_groups",
	               :locals => {:groups => subtest.groups,
                                   :form => subtest_form,
                                   :subtest => index } %>
	  </div>
	  <script type="text/javascript">
	    checkState(<%= subtest.id %>, <%= index %>);
	  </script>
        </div>
      <% end %>
    <% end %>
  <%= f.submit %>
<% end %>
</div>

