<div id="form-content" style="background-color:#<%= @form.colour %>;">
  <h1><%= @form.name %></h1>
  <%= description_box @form.description %>
  <% form_for :testable, @testable, :url => { :action => "create" }, :id => "foo" do |f| %>
    <%= hidden_field_tag "form", YAML::dump(@form) %>
    <%= f.hidden_field :datatype, :value => @testable.datatype %>
    <fieldset>
      <legend>Basic information</legend>
      <dl>
        <dt><%= f.label :patient_id_rn, "Patient RN" %>
        <dd>
          <% f.fields_for :patient_id do |patient| %>
            <%= patient.text_field :rn, :autocomplete => "off", :value => @testable.patient.nil? ? '' : @testable.patient.rn %>
	    <span id="testable_patient_id_rn_loading" style='display:none;'></span>

	    <%= observe_field "testable_patient_id_rn",
	        :function => "if (value.length > 1) { patientInfo(value); }",
		:on => "blur" %>
	    <div class="auto_complete" id="testable_patient_id_rn_auto_complete"></div>
	    <div id="patient-content">
	      <strong>Patient Details</strong>
	      <span id="patient-loading" class="loading"></span>
	      <div id="patient-controls">
		<%= link_to "[refresh]",{},
		{:href => "#",
		:onclick => "patientInfo($F('testable_patient_id_rn')); return false;"} %>
	      </div>
	      <br/>
	      <div id="patient-info">
		<p>
		Enter the patient's RN to retrieve details
		</p>
	      </div>
	      <div class="smalldescription">
		Can't find the right patient?
		<%= link_to "Create the patient",
		{:controller => '/manage/patients',
		:action => 'new'},
		{:popup => ["Create Patient","toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes"]} %>
	      </div>
	    </div>
	    <script type="text/javascript">
	      <% if not @testable.patient.nil? %>
                     patientInfo(<%= @testable.patient.rn %>);
              <% end %>
	      new Ajax.Autocompleter('testable_patient_id_rn',
				     'testable_patient_id_rn_auto_complete',
				     '/health_info/list', 
	                             {method:'get',
	                              indicator:'testable_patient_id_rn_loading',
	                              paramName:'id',
				      minChars: 3,
			              afterUpdateElement: function (obj) {
	                                new Ajax.Request('/health_info/migrate/' + obj.value,
	                                                 {method:'get',
	                                                  onSuccess: function (){
	                                                    new Ajax.Request('/entry/testables/similar/' + obj.value);
	                                                    patientInfo(obj.value);

	                                                  }});}
	                             });
	    </script>

	  <% end %>
	</dd>
	<%= belongs_widget f, :department_id, Department.all %>
	<%= belongs_widget f, :staff_id, Staff.all %>
	<%= time_widget f, :time_in %>
	<%= time_widget f, :time_out %>
      </dl>
    </fieldset>
    <div class="fieldset">
      <legend>Test data</legend>
      <!-- Begin template-specific fields -->
      <%= render :partial => "form_groups",
                 :locals => {:groups => @form.groups, :form => f, :subtest => false } %>
    </div>
    <!-- subtests here -->
    <% @form.subtests.each_with_index do |subtest, index| %>
      <% f.fields_for :subtests, @testable do |subtest_form| %>
        <div class="fieldset" style="background-color:#<%= subtest.colour %>">
	  <%= content_tag(:legend,
	                  "Subtest: #{subtest.name}",
			  { :onclick => "toggleForm(#{subtest.id}, #{index});",
	                    :id => "subtest-legend-#{subtest.id}",
			    :class => "disabled subtest"}) %>
	  <div id="subtest-description-<%= subtest.id %>" class="smalldescription">
	    This form is <span class="disabled">disabled</span>.
	    <%= link_to "Enable",{},
	                {:href => "#",
			 :onclick => "toggleForm(#{subtest.id}, #{index});return false;"} %>
	  </div>
	  <%= subtest_form.hidden_field :saveme, :value => @testable.subtests[index].saveme || "false" %>
	  <%= subtest_form.hidden_field :datatype, :value => subtest.name %>
	  <div id="subtest-<%= subtest.id %>" style="display:none;">
	    <%= render :partial => "form_groups",
	               :locals => {:groups => subtest.groups,
                                   :form => subtest_form,
                                   :subtest => index } %>
	  </div>
	  <script type="text/javascript">
	    checkState(<%= subtest.id %>, <%= index %>);
	  </script>
        </div>
      <% end %>
    <% end %>
  <%= f.submit 'Create', :disable_with => 'Creating..' %>
<% end %>
</div>

