<h1>Listing testers</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for tester in @testers %>
  <tr>
    <td><%=h tester.name %></td>
    <td><%= link_to 'Show', [:admin, tester] %></td>
    <td><%= link_to 'Edit', edit_admin_tester_path(tester) %></td>
    <td><%= link_to 'Destroy', [:admin, tester], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tester', new_admin_tester_path %>
