<script type="text/javascript">
  function jumpTo (e) {
    if (e.value) {
      window.location = '<%= url_for({:action => 'show', :controller => 'manage/templates', :only_path => false}) %>/'+e.value;
    }
  }
</script>
<div id="menu">
  <ul class="manage menu">
    <li class="forms">
      <h3>Forms</h3>
      <div class="content">
	<%= link_to "Add New Form", {:action => 'new', :controller => '/manage/templates'} %>
	<%= link_to "Import Form", {:action => 'show_import', :controller => '/manage/templates'} %>
	<label>Manage Form: <%= select_tag "id", "<option></option>" + options_from_collection_for_select(@templates, "id", "name"), {:onchange => "jumpTo(this)"} %></label>
	<p>
	  Create a new form, or edit an existing one.
	</p>
      </div>
    </li>
    <li class="patients">
      <h3>Patients</h3>
      <div class="content">
	<%= link_to "Manage Patients", {:action => 'list', :controller => '/manage/patients'} %>
	<p>
	  Add a new patient, or edit an existing one
	</p>
      </div>
    </li>
    <li class="staff">
      <h3>Staff</h3>
      <div class="content">
	<%= link_to "Manage Staff", {:action => 'list', :controller => '/manage/staff'} %>
	<p>
	  Add a new staff member, or edit an existing one
	</p>
      </div>
    </li>
    <li class="departments">
      <h3>Departments</h3>
      <div class="content">
	<%= link_to "Manage Departments", {:action => 'list', :controller => '/manage/departments'} %>
	<p>
	  Add a new department, or edit an existing one
	</p>
      </div>
    </li>
    <li class="export">
      <h3>Data export</h3>
      <div class="content">
	<%= link_to "Export Data", {:action => 'index', :controller => '/manage/data'} %>
	<p>
	  Export all test result data 
	</p>
      </div>
    </li>
  </ul>
</div>
