<div id="report-header">
  <h2>Report: <%= @report_data[:name] %></h2>
  <p>
    <%= @report_data[:description] %>
  </p>
  <p>
    This report was created on <strong><%= Time.now.strftime(FULLTIME); %></strong>, using the following conditions:
  </p>
  <p>
    <strong><%= @report_data[:tests] %></strong> matching tests were found.
  </p>
</div>
<%= render :partial => 'report', :layout => false, :locals => {:report_data => @report_data} %>
<blockquote>
  <%= @report_data[:rule] %>
</blockquote>
