<table class="show-template">
<% columns.each :for => @record do |column| %>
<tr>
  <th><%= column.label %></th>
  <% if column.name.to_s == "name" || column.name.to_s == "description" %>
    <td><%= active_scaffold_inplace_edit(@record, column) %></td>
  <% elsif column.name.to_s == "is_active" %>
    <td id="as_manage__templates-is_active-column">
      <%= active_scaffold_inplace_edit(@record, column, :formatted_column => (@record.is_active ? "Active" : "Inactive")) %>
      <div class="as_inplace_pattern" style="display:none;"><select class="is_active-input" id="record_is_active_" name="record[is_active]"><option value="" selected="selected">- select -</option>
	  <option value="t">Active</option>
	  <option value="f">Inactive</option></select></div>
    </td>
  <% elsif column.name.to_s == "groups" %>
    <td><%= render :active_scaffold => 'manage/groups', :constraints => {:template_id => @record.id} %></td>
  <% elsif column.name.to_s == "descendants" %>
    <td><%= render :active_scaffold => 'manage/links', :constraints => {:ancestor_id => @record.id} %></td>
  <% elsif column.name.to_s == "colour" %>
    <td id="as_manage__templates-colour-column">
      <%= javascript_include_tag "scriptaculous" %>
      <%= javascript_include_tag "yahoo.color" %>
      <%= javascript_include_tag "colorPicker" %>
      <%= active_scaffold_inplace_edit(@record, column, :formatted_column => "##{@record.colour}&nbsp;<span class='colourCube' style='background-color: ##{@record.colour}'></span>") %>
    </td>  
  <% end -%>
  <td class="description">
    <%= column.description %>
  </td>
</tr>
<% end -%>
</table>
