<dl>
<% columns.each :for => @record do |column| %>
  <dt><%= column.label %></dt>
  <% if column.name.to_s == "name" %>
    <dd><%= active_scaffold_inplace_edit(@record, column) %></dd>
  <% elsif column.name.to_s == "is_active" %>
    <dd id="as_manage__templates-is_active-column">
      <%= active_scaffold_inplace_edit(@record, column, :formatted_column => (@record.is_active ? "Active" : "Inactive")) %>
      <div class="as_inplace_pattern" style="display:none;"><select class="is_active-input" id="record_is_active_" name="record[is_active]"><option value="" selected="selected">- select -</option>
	  <option value="t">Active</option>
	  <option value="f">Inactive</option></select></div>
    </dd>
  <% elsif column.name.to_s == "fields" %>
    <dd><%= render :active_scaffold => 'manage/fields', :constraints => {:template_id => @record.id} %></dd>
  <% elsif column.name.to_s == "descendants" %>
    <dd><%= render :active_scaffold => 'manage/links', :constraints => {:ancestor_id => @record.id} %></dd>
  <% elsif column.name.to_s == "colour" %>
    <dd id="as_manage__templates-colour-column">
      <%= javascript_include_tag "scriptaculous" %>
      <%= javascript_include_tag "yahoo.color" %>
      <%= javascript_include_tag "colorPicker" %>
      <%= active_scaffold_inplace_edit(@record, column, :formatted_column => "<span class='colourLabel'>##{@record.colour}</span><span class='colourCube' style='background-color: ##{@record.colour}'></span>") %>
    </dd>  
  <% end -%>
  <dd class="description">
    <%= column.description %>
  </dd>
<% end -%>
</dl>
